.h1 {
    width: 540px;
    height: 150px;
    color: blue;
}
.paragraph {
    font-family: Helvetica;
    font-size: 20px;
}
.grid-container {
    display: inline-grid;
    column-gap: 20px;
    row-gap: 20px;
}
.grid-item {
    width: 75px;
    height: 75px;
}