/* H1 and P styles */
.h1 {
    width: 540px;
    height: 150px;
    color: blue;
}
.paragraph {
    font-family: Helvetica;
    font-size: 20px;
}
/* Button */
#link {
    display: inline-block;
    font-family: Helvetica;
    text-transform: uppercase;
    border: 2px solid white;
    background-color: white;
    color: blue;
    padding: 15px 25px;
    border-radius: 0;
    font-size: 13px;
    transition: all 0.5s;
}
#link:hover {
    background-color: blue;
    color: #fff;
}

/* Grid styles */
.grid-container {
    display: inline-grid;
    column-gap: 20px;
    row-gap: 20px;
}
.grid-item {
    width: 75px;
    height: 75px;
}