body {
    width: 1260px;
	height: 400px;
    padding: 15px, 25px;
    margin: 10px;
}
/* H1 and P styles */
.h1 {
    text-align: center;
	justify-content: center;
    padding: 15px, 25px;
    color: rgb(13, 162, 189);
}
.paragraph {
    position: relative;
	text-align: center;
    font-family: Helvetica;
    font-size: 20px;
}
/* image */
#img {
	position: relative;
	align-items: center;
}
/* Button */
#link {
    display: inline-block;
    font-family: Helvetica;
    text-transform: uppercase;
    border: 2px solid white;
    background-color: white;
    color: black;
    padding: 15px 25px;
    border-radius: 0;
    font-size: 13px;
    transition: all 0.5s;
}
#link:hover {
    background-color: rgb(13, 162, 189);
    color: #fff;
}

/* Grid styles */
.nav {
	position: relative;
	text-align: center;
    font-family: Helvetica;
	margin-top: 20px;
    font-size: 20px;
}
.grid-container {
    display: inline-block;
	background: linear-gradient(#c8a1ce, #c185a0);
	margin-top: 30px;
	margin-left: 35px;
	width: 1260px;
	height: 1000px;
	border: 1px solid black;
}
.grid-item {
    display: inline-block;
	margin: 100px;
    width: 200px;
    height: 200px;
}